<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Your Perfect School</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
        integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">School Data Analysis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Salary.html">Scatter Plot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="bubble">Bubble Chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bullet Chart</a>
                </li>
            </ul>
        </div>
    </nav> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">University Tuition Analysis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Visualizations
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/">Data Summary</a>
                        <a class="dropdown-item" href="/scatter">Salary Scatter Chart</a>
                        <a class="dropdown-item" href="/bubble">Interactive Bubble Chart</a>
                        <a class="dropdown-item" href="/bullet">Individual School Chart</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!--need canvas for chart.js-->
    <div class="col-md-6 offset-md-3 my-5">
        <div class="card">
            <div class="card-body">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6 offset-md-3 my-5">
        <div class="card">
            <div class="card-body">
                <canvas id="myChart2"></canvas>
            </div>
        </div>
    </div>
    <!-- <script>
        d3
            .csv("../static/csv/merged_data.csv")
            .then(function (schoolData) {
                let inStateTuition = 'in_state_tuition';

                let privates = [], publics = []

                schoolData.forEach(row => {
                    if (row.type === 'Private') {
                        privates.push({ x: row.type, y: row[inStateTuition] })
                    }
                    else if (row.type === 'Public') {
                        publics.push({ x: row.type, y: row[inStateTuition] })
                    }
                });
                let privateSum = privates.length
                console.log(privateSum)
                let publicSum = publics.length
                console.log(publicSum)
                let totalData = schoolData.length
                console.log(totalData)

                new Chart(document.getElementById('myChart'), {
                    // The type of chart we want to create
                    type: 'bar',

                    // The data for our dataset
                    data: {
                        labels: ['Private & Public'],
                        datasets: [{
                            label: 'Private',
                            // type: 'bar',
                            backgroundColor: '#00008B',
                            borderColor: 'black',
                            borderWidth: 1,
                            hoverBackgroundColor: 'green',
                            data: [privateSum, totalData],
                            order: 1
                        },
                        {
                            label: 'Public',
                            // type: 'bar',
                            backgroundColor: '#B8860B',
                            borderColor: 'black',
                            borderWidth: 1,
                            hoverBackgroundColor: 'red',
                            data: [publicSum],
                            order: 2
                        },
                        ]
                    },
                    // Configuration options go here
                    options: {
                        tooltips: {
                            mode: 'index',
                        },
                        title: {
                            display: true,
                            text: 'Number of Public & Private Schools',
                            fontSize: 15
                        },
                        legend: {
                            position: 'right',
                            labels: {
                                fontColor: '#000'
                            }
                        },
                        layout: {
                            padding: {
                                left: 10,
                                right: 10,
                                bottom: 0,
                                top: 0
                            }
                        },
                    }
                });


                function selectPrivate(school) {
                    return school.type === 'Private'
                }

                // console.log(selectPrivate)

                let privateSchools = schoolData.filter(selectPrivate)
                console.log(privateSchools)

                let privateTuition = privateSchools.map(d => d.in_state_tuition)
                console.log(privateTuition)

                let outStatePrivateTuition = privateSchools.map(d => d.out_of_state_tuition)
                console.log(outStatePrivateTuition)

                let totalOutStatePrivateTuitions = privateSchools.map(d => d.out_of_state_total)
                console.log(totalOutStatePrivateTuitions)

                //syntax: array.reduce(function(total, currentValue, currentIndex, arr), initialValue)
                let totalPrivateTuition = privateTuition.reduce(
                    function (t, s) {
                        return parseInt(t) + parseInt(s);
                    }
                );

                console.log(totalPrivateTuition)

                let totalOutStatePrivateTuition = outStatePrivateTuition.reduce(
                    function (t, s) {
                        return parseInt(t) + parseInt(s);
                    }
                );

                console.log(totalOutStatePrivateTuition)

                let totalOutStatePrivTuition = totalOutStatePrivateTuitions.reduce(
                    function (t, s) {
                        return parseInt(t) + parseInt(s);
                    }
                );

                console.log(totalOutStatePrivTuition)

                function selectPublic(school) {
                    return school.type === 'Public'
                }
                let publicSchools = schoolData.filter(selectPublic)
                console.log(publicSchools)

                let publicTuition = publicSchools.map(d => d.in_state_tuition)
                console.log(publicTuition)

                let outStatePublicTuition = publicSchools.map(d => d.out_of_state_tuition)
                console.log(outStatePublicTuition)

                let totalOutStatePublicTuition = publicSchools.map(d => d.out_of_state_tuition)
                console.log(totalOutStatePublicTuition)

                //syntax: array.reduce(function(total, currentValue, currentIndex, arr), initialValue)
                let totalPublicTuition = publicTuition.reduce(
                    function (t, s) {
                        return parseInt(t) + parseInt(s);
                    }
                );

                console.log(totalPublicTuition)

                let sumOutStatePublicTuition = outStatePublicTuition.reduce(
                    function (t, s) {
                        return parseInt(t) + parseInt(s);
                    }
                );

                console.log(sumOutStatePublicTuition)

                let totalSumOutStatePublicTuition = totalOutStatePublicTuition.reduce(
                    function (t, s) {
                        return parseInt(t) + parseInt(s);
                    }
                );

                console.log(totalSumOutStatePublicTuition)

                let avgPrivateTuition = Math.round(totalPrivateTuition / totalData)
                console.log(avgPrivateTuition)

                let avgPublicTuition = Math.round(totalPublicTuition / totalData)
                console.log(avgPublicTuition)

                let outStateAvgPrivateTuition = Math.round(totalOutStatePrivateTuition / totalData)
                console.log(outStateAvgPrivateTuition)

                let totalOutStateAvgPrivateTuition = Math.round(totalOutStatePrivTuition / totalData)
                console.log(totalOutStateAvgPrivateTuition)

                let outStateAvgPublicTuition = Math.round(sumOutStatePublicTuition / totalData)
                console.log(outStateAvgPublicTuition)

                let totalOutStateAvgPublicTuition = Math.round(totalSumOutStatePublicTuition / totalData)
                console.log(totalOutStateAvgPublicTuition)

                new Chart(document.getElementById('myChart2'), {
                    // The type of chart we want to create
                    type: 'bar',

                    // The data for our dataset
                    data: {
                        labels: ['In-State', 'Out-State'],
                        datasets: [{
                            label: 'Private',
                            // type: 'bar',
                            backgroundColor: '#00FFFF',
                            borderColor: 'black',
                            borderWidth: 1,
                            hoverBackgroundColor: 'green',
                            data: [avgPrivateTuition, outStateAvgPrivateTuition],
                            order: 1
                        },
                        {
                            label: 'Public',
                            // type: 'bar',
                            backgroundColor: '#7FFFD4',
                            borderColor: 'black',
                            borderWidth: 1,
                            hoverBackgroundColor: 'red',
                            data: [avgPublicTuition, outStateAvgPublicTuition],
                            order: 3
                        },

                        ]
                    },


                    // Configuration options go here
                    options: {
                        tooltips: {
                            mode: 'index',
                        },
                        title: {
                            display: true,
                            text: 'Avg Cost of In-State & Out-State Tuition for Public & Private Schools',
                            fontSize: 15
                        },
                        legend: {
                            position: 'right',
                            labels: {
                                fontColor: '#000'
                            }
                        },
                        layout: {
                            padding: {
                                left: 10,
                                right: 10,
                                bottom: 0,
                                top: 0
                            }
                        },

                    }
                });
            })


    </script> -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
        integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script> -->

    <!--Chart.js JS LIBRARY-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script> -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
    integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
    crossorigin="anonymous"></script> -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
    integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
    crossorigin="anonymous"></script>

    <script src="../static/js/barchart.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>